@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url("../ex/07/css/common.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Noto+Sans+KR:wght@300;500;700&family=Raleway:wght@900&display=swap');


header {
    width:1900px; height:90px;
    padding:0 80px;
    margin:0;
    padding-top:15px;
    position:fixed;
    top:0;
    background-color: white;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.logo > a > img { 
    width:55px;
    height:65px;
}
.logo  > ul{
    padding-left:230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo > ul > li > a{
    width:61px;
    height:87px;
    padding:0 35px;
    font-family:'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    color: black;
    
}

.logo >nav{
    width:300px;
    margin-left:0 60px;
}

.logo > nav > a {
    margin-right:30px;
    font-family:'Montserrat';
    font-size: 12px;
    font-weight: 500;
}
.logo > nav > a > img {
  
    width:40px; height:40px;
}

.top{
    width:1900px; height:40px; 
    padding: 0 80px;
    margin-top:90px;
    border-bottom: 1px solid #f5f5f5;
    border-top:1px solid #f5f5f5;
    background-color: #fcfcfc;
    text-align: right;
}
.top > nav {
    line-height: 40px;
}
.top > nav > a {
    font-size: 80px;
    font-size:0.75rem;
    margin-right:10px;
    font-family: "Montserrat","Noto Sans KR",sans-serif;
}
.introduce {
    width:1920px; height:187px;
    padding-top:54px;
    padding-bottom: 41px;
    margin-bottom: 20px;
}

.introduce > nav { 
    width:1140px; height:92px; 
    padding: 0 30px; 
    margin : 0 360px;
    text-align: center;
}

.introduce > nav > h1 > img{
    margin-bottom: 15px;
    font-size: 0px;
    filter: invert(100%);
    width: 2890x; height:50px;
}

.introduce > nav > p{
    color:#808080;
    font-size: 18px;
}

.block { 
    width:1920px;  height:730px; 
    padding:71px 0;
    background-color: #fcfcfc;
    margin:0!important;
}
.block > nav{
    margin:0 370px;
}
.block > nav > ul  > li {
    border :1px solid #ddd ; 
    height:250px;
    margin : 0 15px 30px 15px;
    float:left;
    padding:30px;
    background-color: #f5f5f5;
    text-align: left;
    width:260px;
}
.block > nav > ul > li:hover {
    border:1px solid #36B4E5;
    background: white;
    -webkit-box-shadow:0px 0px 35px 0px rgb(0 0 0 /20%);
    }
.block > nav > ul > li > a >h2{
    font-size: 24px;
    font-family: "Montserrat","Noto Sans KR",sans-serif;
    color:black;
    margin-bottom: 5px;
}
.block > nav > ul > li > a > p { 
    font-size: 14px;
    color:#808080;
    white-space: pre-line;
    font-weight: 500;
    letter-spacing: -0.25px;

}
.block > nav > ul > li >a> img{
    width:100px;
    height:100px;
    margin:0 100px;
    
    
}

footer {
    width:1920px; height:231px; 
    padding:50px 80px;
    border-top: 1px solid #f5f5f5;
    background-color: #fff;
}
.footerinner{

}

.footerinner > nav >a { 
    margin-right:40px;
    font-size:14px;
    
}
.footerinner > nav >a > img{
    width:57px; height:36px;
}
select{
    font-family: "Montserrat" ;
    border:1px solid #eee;
    width: 150px; height:40px;
    font-weight: 400;
    position:absolute;
    bottom:-200px;
    right:280px;
}
.sitemap{
    border:1px solid #eee;
    font-size: 0.75rem;
    font-weight: 400;
    text-transform: uppercase;
    background-color: white;
    min-width: 150px;
    height:40px;
    background-image: url(../img/bottompoint.jpg);
    background-repeat: no-repeat;
    background-size: 15px 8px;
    background-position: right;
    position:absolute;
    bottom:-200px;
    right:100px;
    cursor:pointer;
    padding:10px;
    font-family: "Montserrat";
}

.footerinner >nav > a{
    color:black;

}

.footerinner> p {
    font-family: "Montserrat",sans-serif; 
    margin-bottom:26px;
    white-space: pre-line;
    font-size: 14px;
    line-height: 20px;
    color:#808080
}
.footerinner > span{
    font-family: "Montserrat";
    font-size: 14px;
    color: #808080;
}
