@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Noto+Sans+KR:wght@300;500;700&family=Raleway:wght@900&display=swap');
*{box-sizing: inherit;}


body{margin:0;}
header{
    position:fixed;
    top:0;
    padding:0 30px;
    width:1900px;
    background-color: white;
    
   
}
header > div{

    display:flex;
    justify-content: space-around;
    align-items: center;
    
    
   
}

header > div >img{
    width:55px;
    padding-left:30px;
    padding-right:120px;
  
}



.head> nav > a{
    padding: 0 35px;
    font-size: 1.125rem;;
    font-family:'Montserrat';
    color:#121212;
    text-decoration-line: none;
    font-weight:600;
    line-height: 24px;   
}



section{
    
    margin-top:90px;

}
.news > nav{
    width:1340;
    height:81px;

}
.News{
    height:900px;
    margin-top:200px;
    width:1440px;
    margin:0 230px;
}

.Now{
    height:850px;
    width:1900px;
    background: #edeff0;
    margin:0;
   
    
}

.studio{
    height:850px;
    margin:0 230px;
}

.Our{
    height:850px;
}


.head > ul > a{
    font-family:'Montserrat';
    color:#121212;
    text-decoration-line:none;
    line-height: 40px;
    font-size:12px;
    box-sizing: inherit;
    margin:20px;
    
}

.head > ul> a > img{
    width:40px;
    height:40px;
}

.button{
    text-align: center;
    letter-spacing: 10px;
    position: relative;
    margin-left:100px;
    margin-top:40px;
    
    
}



.left:hover {
    background:rgb(0, 95, 172);
    color:white;
}

.right:hover{
    background:rgb(0, 95, 172);
    color:white;
}



.left {
    width:20px;
    height:25px;
    border-radius: 50%;
    opacity: .5;
    transition: background 1s ease-in-out;
    position:relative;
    
    
}

.right{
    width:20px;
    height:25px;
    border-radius: 50%;
    opacity: .5;
    transition: background 1s ease-in-out;

}



.text{
   
    position:absolute;
    bottom:130px;
    left:80px;
    white-space: pre-line;
    color:white;
    line-height:20px;

    
    
}
.text > h2{
    line-height:1;
    font-size: 70px;
    font-family: 'Raleway', sans-serif;
    margin:0;
    
    
}

.text>p{
    
    font-size:21px;
    margin:0;
    line-height: 30px;
    font-weight:200
    
    
    
}

.inner{
   width:1440px;
   height:970px;
   padding:0 30px;
   margin:0;

}



.flex{
 
 width:1340px;
 height:307px;

    
}

.flex > ul{
    display: flex;
    justify-content: center;
    
    align-items: flex-end;
    list-style: none;
   
    
    
}
.flex > ul > li {
    border:1px solid rgb(204, 204, 204);
    
    margin:0 15px;
    height:270px;
    
}

.flex > ul > li > a{
    text-decoration-line:none ;
}
.flex > ul > li> a > img{
    width:311px;
    height:145px;
    font-size: 18px;
    
    
}

.flex> ul > li> a > h2{
    font-size: 18px;
    font-weight:500;
    padding:0 20px;
    color:#121212;
    font-family: 'Montserrat', sans-serif;

}

.flex > ul > li > a > span{
    padding:0 20px;
    font-size: 14px;
    color:#808080;
    
}
.news{
    
}
.news > nav{
    margin:0 50px;
    left:50px;
    text-align: center;
    line-height: 10px;
}
.news >nav> h2 {
    font-size:54px;
    font-family: "Montserrat","Noto Sans KR",sans-serif;
}

.news > nav > span{
    font-size: 16px;
    color: #999999;
  

}

.newsbutton{
    
    width:200px; height:40px;
    font-size:14px;
    text-align: center;
    border:1px solid rgb(189, 188, 188);
    margin:100px 600px;
    transition: background 0.5s;
   
    
}



 .newsbutton > a{
    display: inline-block;
    min-width: 200px;
    text-decoration-line:none ;
    color:black;
    font-weight:bold;
    
}
   
    
    
    


 .newsbutton> a > img{
    width:15px;
    padding:0 10px;
    padding-top:10px;

}

.newsbutton:hover{
    background-color: black;
    color:white;
    
}

.newsbutton>a:hover{
    color:white;
}

.nownow{
    width:1440px;
    height:970px;
    
   
}
.Now{
    text-align: center;
   
    
}
.nownow > nav{
    line-height: 10px;
    margin-bottom: 100px;
    padding-top:120px;
    margin-left:450px;
}
.nownow>nav>h2{
    font-size:54px;
    font-family: "Montserrat","Noto Sans KR",sans-serif;
    
}

.nownow > nav> p{
    font-size: 16px;
    color:#999999;
    
}
.nowpic{
 margin-left: -300px;
 
}
.nowpic > ul {
    margin-left:500px;
   
   height:340px;
   width:1400px;
    
    
 
}

.nowpic > article > a{
   
}

.nowpic> ul > article >a >img {
    width:150px;
    height:150px;
    float:left;
    margin-left:25px;
    margin-bottom: 20px;
}

.instabutton{
    width:200px; height:40px;
    font-size:14px;
    text-align: center;
    border:1px solid rgb(230, 213, 213);
    margin:100px 600px;
    transition: background 0.5s;

}


.instabutton > a{
    display: inline-block;
    min-width: 200px;
    text-decoration-line:none ;
    color:black;
    font-weight:bold;
    
}

.instabutton > a >img {
    width:15px;
    padding:0 10px;
}

.instabutton > a:hover{
    background-color: black;
    color:white;
    
}
.samlip{
  text-align: center;
  line-height:10px;
 padding-top:70px;
 
}
.samlip  > h2 { 
    font-size: 50px;
    font-weight:bold;
    font-family: "Montserrat","Noto Sans KR",sans-serif;
   padding-top: 70px;
}

.samlipstudio{
    width:1440px;
    height:969px;
    
}
.samlip > p{
    font-size: 16px;
    color:#999999;
}



.videos{
    padding:40px 0;
    width:1370px;
    height:411px;
    margin : 0 100px;
    
   
    
    
    
}

.videos > iframe{
    width:21%;
    height:170px;
    padding-bottom:25px;
    padding-left:25px;
    
    
    
    
    
}

.youtubebutton{
    width:200px; height:40px;
    font-size:14px;
    text-align: center;
    border:1px solid rgb(189, 188, 188);
    margin:100px 600px;
    transition: background 0.5s;
 
}

.youtubebutton > a{
    display: inline-block;
    min-width: 200px;
    text-decoration-line:none ;
    color:black;
    font-weight:bold;

}

.youtubebutton > a > img {
    width:26px;
    
    
}
.brands {
    width:1265px;
    height:100px;
    padding:0 30px;
}
.brands > ul{
   
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   

}

.brands > ul >li{
   
    border:1px solid black;
    width:200px;
    height:130px;
    margin-bottom:20px;
   
}

.brands > ul > li  >img {
    width:60px;
    height:60px;
    
}